div{
    color:rgb(255, 0, 212);
    background-color: lightblue;
    background-image: url("https://www.w3schools.com/css/img_lights.jpg");
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top;
    display: flex;
    display: block;
    width: 400px;
    height: 200px;
}

#primary {
    color: rgb(7, 8, 8);
    font-size: 20px;
    /* background-color: rgb(218, 28, 28); */
}  

table, th,td{
    border: 2px solid black;
    border-collapse: collapse;
    border-radius: 4px;
    padding: 2px 3px 4px 5px;
}